* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* banner area */
.top-banner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  margin: 70px 15px;
}
.top-content {
  padding-top: 100px;
}
.top-content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  letter-spacing: -0.02em;
  color: #575757;
  width: 600px;
  height: 234px;
  left: 100px;
  top: 260px;
}
.top-content p {
  color: #828282;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.02em;
  width: 499px;
  height: 64px;
  margin-top: 15px;
}
.orange-color {
  color: orange;
}
.banner-image img {
  width: 600px;
  height: auto;
}
.order-btn {
  text-decoration: none;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  align-items: center;
  padding: 24px 32px;

  background: linear-gradient(88.33deg, #fba24f -7.64%, #ff1e1e 145.94%);
  box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
  border-radius: 100px;
}
.ord-button {
  margin-top: 60px;
}

/* end of banner area */

/* about me section */
.about-me {
  display: flex;
  justify-content: space-evenly;
  background-image: url(./images/7.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  flex-wrap: nowrap;
  margin-top: 120px;
}
.about-image img {
  width: 450px;
  height: auto;
}
.about-content {
  margin-top: 60px;
}
.about-content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #707070;
  width: 444px;
  height: 54px;
  margin: 10px;
}
.about-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
  width: 444px;
  height: 160px;
  margin: 10px;
}
.contact-btn {
  margin-top: 80px;
}
/* end of about me section */
/* recipes area */
.recipes-area {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: white;
  opacity: 0.8;
}
.recipes-content {
  text-align: center;
}
.recipes-content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #676767;
  margin-bottom: 20px;
}
.recipes-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #252525;
  width: 706px;
  height: 69px;
}
/* end of recipes area */
/* card area */
.card-area {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.card-1 img {
  width: 480px;
  height: 280px;
  padding-top: 15px;
}
.card-1 {
  background: #ffffff;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  text-align: center;
}
.card-1 h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  color: #18191f;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-1 p {
  width: 534px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #18191f;
  margin: 30px 20px;
}

/* end of card area */
/* followers area */
.followers-area {
  display: flex;
  justify-content: space-around;
  margin: 50px 50px 50px 100px;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 10px 10px 30px gray;
}
.followers h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #18191f;
}
.followers p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #18191f;
}
/* end of followers area */
footer {
  background: #0b0d17;
  text-align: center;
  width: 100%;
  padding: 50px;
  margin-left: 15px;
  margin-right: 10px;
}
footer h2 {
  color: #5b5b5b;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}
footer p {
  color: #e0e0e0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
